TMAPI_BASE_URL=https://tmapi-alpha.transfermarkt.technology
TRANSFERMARKT_CEAPI_BASE_URL=https://www.transfermarkt.com.tr/ceapi
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_KEY=replace_with_your_api_football_key
